In [1]:
import requests
import json
import pandas as pd

In [2]:
url = "https://glyconnect.expasy.org/api/glycosylations"

In [3]:
# params = {'cell_line': 'HEK293'}
# response = requests.get(url ,params=params)

In [4]:
# response.status_code

200

In [5]:
# response.json()

In [6]:
# https://www.dataquest.io/blog/python-api-tutorial/
# def jprint(obj):
#     # create a formatted string of the Python JSON object
#     text = json.dumps(obj, sort_keys=True, indent=4)
#     return(text)

# jprint(response.json())

In [7]:
# parsed_json = dict(jprint(response.json()))
# parsed_json = (json.loads(response.json()))

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [ ]:
# type(parsed_json)

In [8]:
# type(response.json())

dict

In [9]:
# my_response = response.json()

In [10]:
# my_response.keys()

dict_keys(['release', 'md5', 'query', 'timestamp', 'results'])

In [13]:
type(my_response['results'])

list

In [20]:
len(my_response['results'])

1471

In [15]:
type(my_response['results'][0])

dict

In [16]:
my_response['results'][0].keys()

dict_keys(['protein', 'composition', 'structure', 'site', 'references'])

In [53]:
my_response['results'][0]["site"]

{'glyco_site': 'Asn-81', 'location': 81}

In [60]:
dict(my_response['results'][0]["composition"])

{'id': 318,
 'numeric': '4,5,0,0,0,0,0,0,0,0,0,0,0,0',
 'string': 'Hex:4 HexNAc:5',
 'byonic': 'HexNAc(5)Hex(4)',
 'character': 'H4N5',
 'mass': 1682.5599,
 'mass_monoisotopic': 1681.6188,
 'reviewed': True,
 'glytoucan_id': 'G23432EQ'}

In [50]:
# df_results_uniprots = pd.DataFrame.from_dict(my_response['results'][0]['protein']['uniprots'])
# df_results_uniprots

  uniprot_acc   uniprot_id   nextprot genecards
0      Q14624  ITIH4_HUMAN  NX_Q14624     ITIH4

In [67]:
df_results_site = pd.DataFrame(my_response['results'][0]['site'],index=[0])
type(my_response['results'][0]['protein']['uniprots'])

In [69]:
# df_results_composition = pd.DataFrame(my_response['results'][0]["composition"],index=[0])

In [70]:
# df_results_site

  glyco_site  location
0     Asn-81        81

In [71]:
# df_results_composition

,id,numeric,string,byonic,character,mass,mass_monoisotopic,reviewed,glytoucan_id
0,318,"4,5,0,0,0,0,0,0,0,0,0,0,0,0",Hex:4 HexNAc:5,HexNAc(5)Hex(4),H4N5,1682.5599,1681.6188,True,G23432EQ

In [73]:
# pd.concat([df_results_composition,df_results_site, df_results_uniprots], sort=False, axis=1)

,id,numeric,string,byonic,character,mass,mass_monoisotopic,reviewed,glytoucan_id,glyco_site,location,uniprot_acc,uniprot_id,nextprot,genecards
0,318,"4,5,0,0,0,0,0,0,0,0,0,0,0,0",Hex:4 HexNAc:5,HexNAc(5)Hex(4),H4N5,1682.5599,1681.6188,True,G23432EQ,Asn-81,81,Q14624,ITIH4_HUMAN,NX_Q14624,ITIH4

In [83]:
df_dump = pd.DataFrame()
for r in range(len(my_response['results'])):
    df_results_uniprots = pd.DataFrame(my_response['results'][r]['protein']['uniprots'],index=[r])
    df_results_site = pd.DataFrame(my_response['results'][r]['site'],index=[r])
    df_results_composition = pd.DataFrame(my_response['results'][r]["composition"],index=[r])
    df_temp = pd.concat([df_results_composition,df_results_site, df_results_uniprots], sort=False, axis=1)
    df_dump = pd.concat([df_dump,df_temp],sort=True,axis=0)

In [84]:
# df_dump.dropna(inplace=True)
# df_dump.drop_duplicates(inplace=True)

In [98]:
# df_dump.head()

,byonic,character,genecards,glyco_site,glytoucan_id,id,location,mass,mass_monoisotopic,nextprot,numeric,reviewed,string,uniprot_acc,uniprot_id
0,HexNAc(5)Hex(4),H4N5,ITIH4,Asn-81,G23432EQ,318,81,1682.5599,1681.6188,NX_Q14624,"4,5,0,0,0,0,0,0,0,0,0,0,0,0",True,Hex:4 HexNAc:5,Q14624,ITIH4_HUMAN
1,HexNAc(4)Hex(5)dHex(2),H5N4F2,ITIH4,Asn-207,G44215PV,353,207,1933.7933,1932.7080,NX_Q14624,"5,4,2,0,0,0,0,0,0,0,0,0,0,0",True,Hex:5 HexNAc:4 dHex:2,Q14624,ITIH4_HUMAN
2,HexNAc(6)Hex(7)dHex(1)NeuAc(4),H7N6F1S4,ITIH4,Asn-517,G69834CE,271,517,3683.3567,3681.2961,NX_Q14624,"7,6,1,4,0,0,0,0,0,0,0,0,0,0",True,Hex:7 HexNAc:6 dHex:1 NeuAc:4,Q14624,ITIH4_HUMAN
3,HexNAc(4)Hex(4)dHex(1),H4N4F1,ITIH4,Asn-577,G46687AB,350,577,1625.5079,1624.5973,NX_Q14624,"4,4,1,0,0,0,0,0,0,0,0,0,0,0",True,Hex:4 HexNAc:4 dHex:1,Q14624,ITIH4_HUMAN
4,HexNAc(5)Hex(5)dHex(2),H5N5F2,ITIH4,Asn-517,G70822IO,639,517,2136.9883,2135.7874,NX_Q14624,"5,5,2,0,0,0,0,0,0,0,0,0,0,0",True,Hex:5 HexNAc:5 dHex:2,Q14624,ITIH4_HUMAN

In [87]:
# df_dump.shape

(1471, 15)

In [112]:
params = {'taxonomy':'Severe acute respiratory syndrome coronavirus 2 (2019-nCoV)', 'protein': 'Recombinant Spike glycoprotein (HEK293) - DRAFT DATA'}

# Severe acute respiratory syndrome coronavirus2  (2019-nCoV)&protein=Recombinant Spike glycoprotein (HEK293)
response = requests.get(url ,params=params)

In [113]:
my_response = response.json()

In [116]:
df_dump = pd.DataFrame()
for r in range(len(my_response['results'])):
    df_results_uniprots = pd.DataFrame(my_response['results'][r]['protein']['uniprots'],index=[r])
    df_results_site = pd.DataFrame(my_response['results'][r]['site'],index=[r])
    df_results_composition = pd.DataFrame(my_response['results'][r]["composition"],index=[r])
    df_temp = pd.concat([df_results_composition,df_results_site, df_results_uniprots], sort=False, axis=1)
    df_dump = pd.concat([df_dump,df_temp],sort=True,axis=0)

In [117]:
df_dump.tail()

,byonic,character,glyco_site,glytoucan_id,id,location,mass,mass_monoisotopic,numeric,reviewed,string,uniprot_acc,uniprot_id
1394,HexNAc(7)Hex(6)dHex(1)NeuAc(4),H6N7F1S4,Asn-657,G37570AP,554,657,3724.4093,3722.3227,"6,7,1,4,0,0,0,0,0,0,0,0,0,0",True,Hex:6 HexNAc:7 dHex:1 NeuAc:4,P0DTC2,SPIKE_SARS2
1395,HexNAc(8)Hex(9),H9N8,Asn-282,G19972YZ,580,282,3102.8569,3101.1210,"9,8,0,0,0,0,0,0,0,0,0,0,0,0",True,Hex:9 HexNAc:8,P0DTC2,SPIKE_SARS2
1396,HexNAc(8)Hex(9),H9N8,Asn-282,G19972YZ,580,282,3102.8569,3101.1210,"9,8,0,0,0,0,0,0,0,0,0,0,0,0",True,Hex:9 HexNAc:8,P0DTC2,SPIKE_SARS2
1397,HexNAc(8)Hex(9),H9N8,Asn-331,G19972YZ,580,331,3102.8569,3101.1210,"9,8,0,0,0,0,0,0,0,0,0,0,0,0",True,Hex:9 HexNAc:8,P0DTC2,SPIKE_SARS2
1398,HexNAc(8)Hex(9),H9N8,Asn-657,G19972YZ,580,657,3102.8569,3101.1210,"9,8,0,0,0,0,0,0,0,0,0,0,0,0",True,Hex:9 HexNAc:8,P0DTC2,SPIKE_SARS2

In [119]:

params = {'taxonomy':'Severe acute respiratory syndrome coronavirus 2 (2019-nCoV)', 'protein': "Recombinant Spike glycoprotein (BTI-Tn-5B1-4) - DRAFT DATA"}

# Severe acute respiratory syndrome coronavirus2  (2019-nCoV)&protein=Recombinant Spike glycoprotein (HEK293)
response = requests.get(url ,params=params)
my_response = response.json()

In [120]:
df_dump = pd.DataFrame()
for r in range(len(my_response['results'])):
    df_results_uniprots = pd.DataFrame(my_response['results'][r]['protein']['uniprots'],index=[r])
    df_results_site = pd.DataFrame(my_response['results'][r]['site'],index=[r])
    df_results_composition = pd.DataFrame(my_response['results'][r]["composition"],index=[r])
    df_temp = pd.concat([df_results_composition,df_results_site, df_results_uniprots], sort=False, axis=1)
    df_dump = pd.concat([df_dump,df_temp],sort=True,axis=0)
df_dump.tail()

,byonic,character,glyco_site,glytoucan_id,id,location,mass,mass_monoisotopic,numeric,reviewed,string,uniprot_acc,uniprot_id
1114,HexNAc(2)Hex(1)dHex(2),H1N2F2,Asn-165,NaN,702,165,878.8337,878.338,"1,2,2,0,0,0,0,0,0,0,0,0,0,0",True,Hex:1 HexNAc:2 dHex:2,P0DTC2,SPIKE_SARS2
1115,HexNAc(2)Hex(1)dHex(2),H1N2F2,Asn-1159,NaN,702,1159,878.8337,878.338,"1,2,2,0,0,0,0,0,0,0,0,0,0,0",True,Hex:1 HexNAc:2 dHex:2,P0DTC2,SPIKE_SARS2
1116,HexNAc(2)Hex(1)dHex(2),H1N2F2,Asn-61,NaN,702,61,878.8337,878.338,"1,2,2,0,0,0,0,0,0,0,0,0,0,0",True,Hex:1 HexNAc:2 dHex:2,P0DTC2,SPIKE_SARS2
1117,HexNAc(2)Hex(1)dHex(2),H1N2F2,Asn-1074,NaN,702,1074,878.8337,878.338,"1,2,2,0,0,0,0,0,0,0,0,0,0,0",True,Hex:1 HexNAc:2 dHex:2,P0DTC2,SPIKE_SARS2
1118,HexNAc(2)Hex(1)dHex(2),H1N2F2,Asn-1174,NaN,702,1174,878.8337,878.338,"1,2,2,0,0,0,0,0,0,0,0,0,0,0",True,Hex:1 HexNAc:2 dHex:2,P0DTC2,SPIKE_SARS2

In [126]:
df_dump.glyco_site.unique()

array(['Asn-657', 'Asn-717', 'Asn-1098', 'Asn-1159', 'Asn-343', 'Asn-331',
       'Asn-61', 'Asn-1174', 'Asn-709', 'Asn-1074', 'Asn-74', 'Asn-1194',
       'Asn-801', 'Asn-149', 'Asn-282', 'Asn-122', 'Asn-165', 'Asn-234',
       'Asn-615', 'Asn-602'], dtype=object)

In [128]:
df_dump.location.unique()

array([ 657,  717, 1098, 1159,  343,  331,   61, 1174,  709, 1074,   74,
       1194,  801,  149,  282,  122,  165,  234,  615,  602])

In [129]:
df_dump.drop_duplicates(inplace=True)

In [130]:
df_dump.shape

(486, 13)

In [131]:
df_dump.head()

,byonic,character,glyco_site,glytoucan_id,id,location,mass,mass_monoisotopic,numeric,reviewed,string,uniprot_acc,uniprot_id
0,HexNAc(2)Hex(5)dHex(1),H5N2F1,Asn-657,G25637MV,773,657,1381.2603,1380.4913,"5,2,1,0,0,0,0,0,0,0,0,0,0,0",True,Hex:5 HexNAc:2 dHex:1,P0DTC2,SPIKE_SARS2
1,HexNAc(2)Hex(5)dHex(1),H5N2F1,Asn-717,G25637MV,773,717,1381.2603,1380.4913,"5,2,1,0,0,0,0,0,0,0,0,0,0,0",True,Hex:5 HexNAc:2 dHex:1,P0DTC2,SPIKE_SARS2
3,HexNAc(2)Hex(5)dHex(1),H5N2F1,Asn-1098,G25637MV,773,1098,1381.2603,1380.4913,"5,2,1,0,0,0,0,0,0,0,0,0,0,0",True,Hex:5 HexNAc:2 dHex:1,P0DTC2,SPIKE_SARS2
4,HexNAc(2)Hex(5)dHex(1),H5N2F1,Asn-1159,G25637MV,773,1159,1381.2603,1380.4913,"5,2,1,0,0,0,0,0,0,0,0,0,0,0",True,Hex:5 HexNAc:2 dHex:1,P0DTC2,SPIKE_SARS2
5,HexNAc(2)Hex(5)dHex(1),H5N2F1,Asn-343,G25637MV,773,343,1381.2603,1380.4913,"5,2,1,0,0,0,0,0,0,0,0,0,0,0",True,Hex:5 HexNAc:2 dHex:1,P0DTC2,SPIKE_SARS2

In [132]:
df_dump.character.unique()

array(['H5N2F1', 'H7N6F4S2', 'H3N2F1', 'H9N2', 'H4N2F1', 'H8N2', 'H5N3F1',
       'H5N2', 'H3N3', 'H3N4', 'H3N3F1', 'H6N2', 'H3N2', 'H7N2', 'H4N3F1',
       'H3N4F1', 'H4N3', 'H3N3F2', 'H5N3', 'H5N3F2', 'H4N3F2', 'H4N2',
       'H10N2', 'H2N2', 'H2N2F1', 'H1N2F1', 'H11N2', 'N2F1', 'N1', 'H1N2',
       'N2', 'N1F1', 'H3N2F2', 'H4N2F2', 'H2N2F2', 'N1F2', 'N2F2',
       'H1N2F2'], dtype=object)