In [3]:
import requests
import json
import pandas as pd
url = "https://glyconnect.expasy.org/api/glycosylations"

In [2]:
## send the correct params to query the api
params = {'taxonomy':'Severe acute respiratory syndrome coronavirus 2 (2019-nCoV)', 'protein': 'Recombinant Spike glycoprotein (HEK293) - DRAFT DATA'}

# Severe acute respiratory syndrome coronavirus2  (2019-nCoV)&protein=Recombinant Spike glycoprotein (HEK293)
response = requests.get(url ,params=params)

In [3]:
my_response = response.json()
df_dump = pd.DataFrame()
for r in range(len(my_response['results'])):
    df_results_uniprots = pd.DataFrame(my_response['results'][r]['protein']['uniprots'],index=[r])
    df_results_site = pd.DataFrame(my_response['results'][r]['site'],index=[r])
    df_results_composition = pd.DataFrame(my_response['results'][r]["composition"],index=[r])
    df_temp = pd.concat([df_results_composition,df_results_site, df_results_uniprots], sort=False, axis=1)
    df_dump = pd.concat([df_dump,df_temp],sort=True,axis=0)
df_dump.drop_duplicates(inplace=True)

In [4]:
df_dump.to_csv("../data/HEK293_glycosilations_COVID19.csv",index=False)

In [5]:
## params for the second protein 
params = {'taxonomy':'Severe acute respiratory syndrome coronavirus 2 (2019-nCoV)', 'protein': "Recombinant Spike glycoprotein (BTI-Tn-5B1-4) - DRAFT DATA"}

response = requests.get(url ,params=params)
my_response = response.json()

In [6]:
df_dump = pd.DataFrame()
for r in range(len(my_response['results'])):
    df_results_uniprots = pd.DataFrame(my_response['results'][r]['protein']['uniprots'],index=[r])
    df_results_site = pd.DataFrame(my_response['results'][r]['site'],index=[r])
    df_results_composition = pd.DataFrame(my_response['results'][r]["composition"],index=[r])
    df_temp = pd.concat([df_results_composition,df_results_site, df_results_uniprots], sort=False, axis=1)
    df_dump = pd.concat([df_dump,df_temp],sort=True,axis=0)
df_dump.drop_duplicates(inplace=True)

In [7]:
df_dump.to_csv("../data/BTI-Tn-5B1-4_glycosilations_COVID19.csv",index=False)

In [9]:
df_dump= pd.read_csv("data/BTI-Tn-5B1-4_glycosilations_COVID19.csv")

In [6]:
import os

In [7]:
cwd = os.getcwd()

In [8]:
cwd

'/Users/barradd/Documents/BARRADD_Things/VirtualHackatonCoV19'

In [10]:
df_dump.head()

,byonic,character,glyco_site,glytoucan_id,id,location,mass,mass_monoisotopic,numeric,reviewed,string,uniprot_acc,uniprot_id
0,HexNAc(2)Hex(5)dHex(1),H5N2F1,Asn-657,G25637MV,773,657,1381.2603,1380.4913,"5,2,1,0,0,0,0,0,0,0,0,0,0,0",True,Hex:5 HexNAc:2 dHex:1,P0DTC2,SPIKE_SARS2
1,HexNAc(2)Hex(5)dHex(1),H5N2F1,Asn-717,G25637MV,773,717,1381.2603,1380.4913,"5,2,1,0,0,0,0,0,0,0,0,0,0,0",True,Hex:5 HexNAc:2 dHex:1,P0DTC2,SPIKE_SARS2
2,HexNAc(2)Hex(5)dHex(1),H5N2F1,Asn-1098,G25637MV,773,1098,1381.2603,1380.4913,"5,2,1,0,0,0,0,0,0,0,0,0,0,0",True,Hex:5 HexNAc:2 dHex:1,P0DTC2,SPIKE_SARS2
3,HexNAc(2)Hex(5)dHex(1),H5N2F1,Asn-1159,G25637MV,773,1159,1381.2603,1380.4913,"5,2,1,0,0,0,0,0,0,0,0,0,0,0",True,Hex:5 HexNAc:2 dHex:1,P0DTC2,SPIKE_SARS2
4,HexNAc(2)Hex(5)dHex(1),H5N2F1,Asn-343,G25637MV,773,343,1381.2603,1380.4913,"5,2,1,0,0,0,0,0,0,0,0,0,0,0",True,Hex:5 HexNAc:2 dHex:1,P0DTC2,SPIKE_SARS2

In [11]:
df_dump.shape

(486, 13)

In [12]:
df_dump.tail()

,byonic,character,glyco_site,glytoucan_id,id,location,mass,mass_monoisotopic,numeric,reviewed,string,uniprot_acc,uniprot_id
481,HexNAc(2)Hex(1)dHex(2),H1N2F2,Asn-709,NaN,702,709,878.8337,878.338,"1,2,2,0,0,0,0,0,0,0,0,0,0,0",True,Hex:1 HexNAc:2 dHex:2,P0DTC2,SPIKE_SARS2
482,HexNAc(2)Hex(1)dHex(2),H1N2F2,Asn-1159,NaN,702,1159,878.8337,878.338,"1,2,2,0,0,0,0,0,0,0,0,0,0,0",True,Hex:1 HexNAc:2 dHex:2,P0DTC2,SPIKE_SARS2
483,HexNAc(2)Hex(1)dHex(2),H1N2F2,Asn-331,NaN,702,331,878.8337,878.338,"1,2,2,0,0,0,0,0,0,0,0,0,0,0",True,Hex:1 HexNAc:2 dHex:2,P0DTC2,SPIKE_SARS2
484,HexNAc(2)Hex(1)dHex(2),H1N2F2,Asn-801,NaN,702,801,878.8337,878.338,"1,2,2,0,0,0,0,0,0,0,0,0,0,0",True,Hex:1 HexNAc:2 dHex:2,P0DTC2,SPIKE_SARS2
485,HexNAc(2)Hex(1)dHex(2),H1N2F2,Asn-61,NaN,702,61,878.8337,878.338,"1,2,2,0,0,0,0,0,0,0,0,0,0,0",True,Hex:1 HexNAc:2 dHex:2,P0DTC2,SPIKE_SARS2

In [13]:
df_HEK293= pd.read_csv("data/HEK293_glycosilations_COVID19.csv")

In [14]:
df_HEK293.tail()

,byonic,character,glyco_site,glytoucan_id,id,location,mass,mass_monoisotopic,numeric,reviewed,string,uniprot_acc,uniprot_id
644,HexNAc(7)Hex(6)dHex(1)NeuAc(4),H6N7F1S4,Asn-657,G37570AP,554,657,3724.4093,3722.3227,"6,7,1,4,0,0,0,0,0,0,0,0,0,0",True,Hex:6 HexNAc:7 dHex:1 NeuAc:4,P0DTC2,SPIKE_SARS2
645,HexNAc(7)Hex(6)dHex(1)NeuAc(4),H6N7F1S4,Asn-282,G37570AP,554,282,3724.4093,3722.3227,"6,7,1,4,0,0,0,0,0,0,0,0,0,0",True,Hex:6 HexNAc:7 dHex:1 NeuAc:4,P0DTC2,SPIKE_SARS2
646,HexNAc(8)Hex(9),H9N8,Asn-282,G19972YZ,580,282,3102.8569,3101.1210,"9,8,0,0,0,0,0,0,0,0,0,0,0,0",True,Hex:9 HexNAc:8,P0DTC2,SPIKE_SARS2
647,HexNAc(8)Hex(9),H9N8,Asn-331,G19972YZ,580,331,3102.8569,3101.1210,"9,8,0,0,0,0,0,0,0,0,0,0,0,0",True,Hex:9 HexNAc:8,P0DTC2,SPIKE_SARS2
648,HexNAc(8)Hex(9),H9N8,Asn-657,G19972YZ,580,657,3102.8569,3101.1210,"9,8,0,0,0,0,0,0,0,0,0,0,0,0",True,Hex:9 HexNAc:8,P0DTC2,SPIKE_SARS2

In [16]:
df_HEK293.glyco_site.unique()

array(['Asn-282', 'Asn-657', 'Asn-331', 'Asn-165', 'Asn-122', 'Asn-149',
       'Asn-615', 'Asn-602', 'Asn-234', 'Asn-343', 'Asn-61', 'Asn-74'],
      dtype=object)

In [17]:
df_dump.glyco_site.unique()

array(['Asn-657', 'Asn-717', 'Asn-1098', 'Asn-1159', 'Asn-343', 'Asn-331',
       'Asn-61', 'Asn-1174', 'Asn-709', 'Asn-1074', 'Asn-74', 'Asn-1194',
       'Asn-801', 'Asn-149', 'Asn-282', 'Asn-122', 'Asn-165', 'Asn-234',
       'Asn-615', 'Asn-602'], dtype=object)